<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Busqueda de Estudiante</div>
    <div class="panel-body">
        <hr style="border-width: 3px;" size="10">
        <div style="text-align : center;">
            <label>Buscar Estudiante</label>
        </div>
        <hr style="border-width: 3px;" size="10">
        <table class="resultados table table-striped">
            <tr>
                <th>
                    nombres
                </th>				<th>
                    apellidos
                </th>				<th>
                    codigo
                </th>				<th>
                    documento
                </th>				<th>
                    fechaNacimiento
                </th>
                <th>
                    carrera
                </th>				
                <th>
                    lugarNacimiento
                </th>
                <th>
                <input class="form-control" ng-model="q"  placeholder="Ingrese Nombres y/o Apellidos para Buscar Estudiante"/>
            </th>
            <th>
                <button type="button" class="btn btn-default" ng-click="buscarEstudiante(q)">Buscar</button>
            </th>
            </tr>
            <tr dir-paginate="row in lista | itemsPerPage:10">
                <td>{{row.nombres}}</td>
                <td>{{row.apellidos}}</td>
                <td>{{row.codigo}}</td>
                <td>{{row.documento}}</td>
                <td>{{row.fechaNacimiento | date: 'dd/MM/yyyy'}}</td>
                <td class="row">{{row.carrera.nombre}}</td>              	
                <td class="row">{{row.lugarNacimiento.nombre}}</td>              
            </tr>
        </table>
        <div dir-pagination-controls></div>
        <br/>
    </div>
</div>
